
.vs/unsme/v16/Server/sqlite3/storage.ide-shm
.vs/unsme/v16/Server/sqlite3/storage.ide-wal
Library/CurrentLayout.dwlt
Library/EditorInstance.json
Library/shadercompiler-UnityShaderCompiler.exe0.log
Library/StateCache/Hierarchy/0d7108-mainStage.json
Temp/UnityLockfile
